
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #a52cd4);
}

[class*="col-"] {
    width: 100%;
}

.container{
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
}

.container .title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 30px;
    height: 4px;
    width: 60px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
